{
  "arrowParens": "always",
  "printWidth": 100,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,

  "importOrder": [
    "^react",
    "^\\w",
    "/types/",
    "/hooks/",
    "/store/",
    "/views/",
    "/components/",
    "/assets/",
    "^./",
    "css$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
