header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  border-bottom: 1px solid var(--secondary-background-color);
}

#wrapper {
  display: flex;
  gap: 0.5em;
  align-items: center;
  font-size: 1.1em;
  font-weight: 500;
  height: 2em;
  overflow-x: hidden;
  white-space: nowrap;
}

#logo {
  color: var(--main-color);
  fill: currentColor;
  min-width: 1.75rem;
  width: 1.75rem;
}

#title {
  overflow: hidden;
  text-overflow: ellipsis;
}
