ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  font-size: 0.9em;
  font-weight: 500;
  display: inline-block;
  padding: 1.25em 1em;
  border-bottom: 2px solid transparent;
  color: var(--secondary-accent-color);
  text-decoration: none;

  &.active {
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
  }

  &:hover {
    color: var(--main-color);
  }
}

#toggle-theme {
  color: var(--secondary-accent-color);
  background-color: transparent;
  padding-top: 4px;
  border: 0;
  cursor: pointer;

  svg {
    width: 1.25em;
    height: 1.25em;
  }
}
